/*  your css code here. If applicable */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  /* border: 2px solid #ccc; */
}

.hero-img {
  width: 350px;
  height: 250px;
  object-fit: cover;
  /* border-radius: 8px; */
  margin-right: 25px;
}

.hero-text h1 {
  font-size: 24px;
  margin-bottom: 8px;
}

.hero-text p {
  font-size: 14px;
  margin-bottom: 15px;
  color: #444;
}

.btn {
  padding: 8px 16px;
  background-color: #e60023;
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
}
